<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/products" class="btn btn-info">Lista produktów</a></li>
            <li class="list-inline-item"><a routerLink="/addproduct" class="btn btn-info">Dodaj produkt</a></li>
			<li class="list-inline-item"><a routerLink="/categories" class="btn btn-info">Lista kategori produktów</a></li>
			<li class="list-inline-item"><a routerLink="/addcategory" class="btn btn-info">Dodaj kategorię produktu</a></li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
